<div class="center-answer">
  <div class="container">
    <img src="https://image.flaticon.com/icons/svg/289/289422.svg" height="100" width="100">
    <h2 id="header-css"> Kaiser Coach Says</h1>
    <h4 id="answer-css"> <strong><%= @answer %></strong></h4>
    <p id="question-css"> Your Question: <%= @question %> </p>
    <div id="button-center">
      <%= link_to "Back", ask_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>


