<div class="container">
  <div class="center-ask">
    <img src="https://image.flaticon.com/icons/svg/289/289422.svg" height="100" width="100">
    <h1>Ask Kaiser Coach A Question...</h1>
      <div class="btn-groups">
        <form action="/answer">
        <input class="form-control" placeholder="" type="text" name="question">
        <input type="submit" value="Submit" type="button" class="btn btn-primary" >
      </div>
    </form>
  </div>
</div>


