.center-answer {
  text-align: center;
}

#header-css {
  text-align: center;
  margin-top: 20px;
}

#question-css {
  color: #46A1EC;
  margin-top: 20px;
  margin-bottom: 10px;
}


#answer-css {
  color: #46A1EC;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  background: white;
  padding: 30px;
  opacity: 0.8;
  box-shadow: 1px;
}

#button-center {
  text-align: center;
}

a {
  background-color: #46A1EC;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: #46A1EC;
}
