body {
  background-color: rgb(240, 240, 240);
}

h1 {
  margin-top: 20px;
}

.center-ask {
  margin: 20px;
  font-style: courier;
  color: #46A1EC;
  text-align: center;
}

.container {
  padding-bottom: 10px;
  max-width: 550px;
}

#ask_form {
  width: 400px;
  margin: 0 auto;
}


.btn-primary {
  margin-top: 20px;
}
